<!--
    Objects needs for works

-->
<!DOCTYPE html>
<html lang="<%- settingGeneral.languaje.Spanish %>">
  <!--HEAD-->
  <%- include("../partials/head.ejs") %>
  <body>
    <!--HEADER-->
    <%- include('../partials/header.ejs')%>

    <!--MiniBanner-->
    <!--Config-->
    <% minibar = { title:"Admin - Productos - Crear producto",
    icon:"eos-icons:admin-outlined" } %> <%-
    include('../partials/miniBanner.ejs')%>

    <!--MAIN-->
    <main>
      <!--ADMINBAR-->
      <%- include('../components/adminBar.ejs')%>

      <!--Product view-->
      <section class="product">
        <!-- <nav class="product__bar flx-ctr product__titleNewProduct">
                    <h1 class="product__titleNewProduct">Producto Nuevo</h1>
                </nav> -->

        <!-- Form new product  -->
        <form
          class="product__form"
          action="/admin/products/edit/<%= product.id %>"
          method="post"
        >
          <!--Container images-->
          <div class="product__imagesContainer">
            <!--
                        <div class="product__imagesSlider flx-ctr">
                            <!--Here, the cards of the images at pre-upload--
                            <img class="product__imagen" src="/img/store/products/camas/cama_felder.jpg" alt="Acá descripccion de la imagen">
                            <img class="product__imagen" src="/img/store/products/colchones/MIGUEL-ANGEL-600x600.png" alt="Acá descripccion de la imagen">
                            <img class="product__imagen" src="/img/store/products/comedores/carson_6puestos-scaled.jpg" alt="Acá descripccion de la imagen">
                            <img class="product__imagen" src="/img/store/products/salas/SalaMilan.jpg" alt="Acá descripccion de la imagen">
                        </div>
                        -->

            <label class="product__inputText" for="imageMain">
              Imagen principal <sup class="text-danger">*</sup>
            </label>
            <img
              src="/img/store/products/<%= imagePrincipal.pathImagen %>"
              alt=""
              class="product__imagen"
            />
            <input
              type="file"
              name="imageMain"
              id="imageMain"
              class="product__imagesButtonAdd"
              accept="image/png, .jpg, .jpeg, image/gif"
            />
            <!--
            <label class="product__inputText" for="imageMain"> Imagenes </label>
            <input
              type="file"
              name="images"
              id="images"
              class="product__imagesButtonAdd"
              multiple
              accept="image/png, .jpg, .jpeg, image/gif"
            />

            <label class="product__inputText" for="product__imagesContainer">
              Propiedades
            </label>
            <textarea
              class="product__imagesDescription"
              name="imagenDescription"
              id=""
              rows="3"
              placeholder="Ingrese una descripción de la imagen..."
            ></textarea>
            -->

            <!--
                        <div class="product__imagesIsMainContiner flx-ctr">
                            <label class="product__inputText">
                                ¿Es la imagen principal?
                            </label>
                            <div class="product__imagesContainerRadio flx-ctr">
                                <label class="product__inputText" for="mainImagenYes">Si</label>
                                <input type="radio" class="product__imagen-IsMain" name="isMain" id="mainImagenYes" value="1">
                            </div>
                            <div class="product__imagesContainerRadio flx-ctr">
                                <label class="product__inputText" for="mainImagenNo">No</label>
                                <input type="radio" class="product__imagen-IsMain" name="isMain" id="mainImagenNo" value="0">
                            </div>
                        </div> 
                        -->
          </div>

          <!--name-->
          <label class="product__inputText" for="productName">
            Nombre <sup class="text-danger">*</sup>
          </label>
          <input
            type="text"
            name="productName"
            id="productName"
            required
            minlength="2"
            maxlength="128"
            placeholder="Ingrese el nombre del producto..."
            value="<%= product.productName %>"
          />

          <!--Description-->
          <label class="product__inputText" for="productDescription">
            Descripción <sup class="text-danger">*</sup>
          </label>
          <textarea
            class="product__inputDescription"
            name="productDescription"
            id="productDescription"
            rows="4"
            minlength="2"
            maxlength="512"
            required
            placeholder="Ingrese la descripción del producto..."
          >
<%= product.productDescription %></textarea
          >

          <!--Terminate-->
          <label class="product__inputText" for="productTerminated">
            Acabado <sup class="text-danger">*</sup>
          </label>
          <input
            type="text"
            name="productTerminated"
            id="productTerminated"
            required
            minlength="2"
            maxlength="64"
            placeholder="Ingrese el acabado del producto..."
            value="<%= product.productTerminated %>"
          />

          <!--SKU-->
          <label class="product__inputText" for="sku"> Sku </label>
          <input
            type="text"
            name="sku"
            id="sku"
            minlength="2"
            maxlength="64"
            placeholder="Ingrese el sku del producto..."
            value="<%= product.sku %>"
          />

          <!--Category-->
          <label class="product__inputText" for="categoryId">
            Categoría <sup class="text-danger">*</sup>
          </label>
          <select
            name="categoryId"
            id="categoryId"
            class="product__inputCategory"
            required
          >
            <% categories.forEach(category => { %> <% if (category.id ==
            product.categoryId) { %>
            <option value="<%= category.id %>" selected>
              <%= category.category %>
            </option>
            <% }else{ %>
            <option value="<%= category.id %>"><%= category.category %></option>
            <% } %> <% }) %>
          </select>

          <!--Taxes-->
          <label class="product__inputText" for="taxesId">
            Impuestos <sup class="text-danger">*</sup>
          </label>
          <select
            name="taxesId"
            id="taxesId"
            class="product__inputTaxes"
            required
          >
            <% taxes.forEach(tax => { %> <% if (tax.id == productTaxId) { %>
            <option value="<%= tax.id %>" selected>
              <%= tax.taxeName %> %<%= tax.taxeValue %>
            </option>
            <% } %>
            <option value="<%= tax.id %>">
              <%= tax.taxeName %> %<%= tax.taxeValue %>
            </option>
            <% }) %>
          </select>

          <!--Units-->
          <label class="product__inputText" for="unitsBuyes">
            Unidades disponibles <sup class="text-danger">*</sup>
          </label>
          <input
            type="number"
            class="product__inputUnits"
            name="unitsBuyes"
            id="unitsBuyes"
            min="0"
            required
            placeholder="Ingrese las unidades..."
            value="<%= product.unitsBuyes %>"
          />

          <!--Price gross-->
          <label class="product__inputText" for="priceGross">
            Precio bruto <sup class="text-danger">*</sup>
          </label>
          <input
            type="number"
            class="product__inputPriceGross"
            name="priceGross"
            id="priceGross"
            min="0"
            required
            placeholder="Ingrese el precio bruto..."
            value="<%= product.priceGross %>"
          />

          <!--Price final-->
          <label class="product__inputText" for="priceFinal">
            Precio final <sup class="text-danger">*</sup>
          </label>
          <input
            type="number"
            class="product__inputPriceFinal"
            name="priceFinal"
            id="priceFinal"
            min="0"
            required
            placeholder="Ingrese el precio final..."
            value="<%= product.priceFinal %>"
          />

          <!--discount-->
          <label class="product__inputText" for="discount">
            Descuento <sup class="text-danger">*</sup>
            <span class="product__inputLabelDescription">(automático)</span>
          </label>
          <input
            type="number"
            disabled
            class="product__inputDiscount"
            id="discount"
            min="0"
            placeholder="Esperando precio bruto y final..."
            value="<%= product.discount %>"
          />

          <label class="product__inputText" for="isActive">
            Producto activo
          </label>
          <input type="checkbox" name="isActive" id="isActive" <% if
          (product.isActive == 1) { %> checked <% } %> />

          <!--buttons-->
          <div class="flx-ctr">
            <button
              type="reset"
              class="product__buttons product__buttonClear flx-ctr"
            >
              <i class="iconify" data-icon="ic:baseline-restore"></i>
              Restablecer
            </button>
            <button
              type="submit"
              class="product__buttons product__buttonSend flx-ctr"
            >
              Editar
              <i class="iconify" data-icon="mdi:cube-send"></i>
            </button>
          </div>
        </form>
      </section>
    </main>

    <!--FOOTER-->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
